# Метод Эйлера. Экстраполяционный метод Адамса

\begin{equation*}
 \begin{cases}
   y'_1=-125y_1+123.25y_2, y_1(0)=1, y_2(0)=1.
   \\
   y'_2=123.25y_1-123y_2,
 \end{cases}
\end{equation*}

1)Явный метод Эйлера

In [10]:
import numpy as np
from scipy.integrate import odeint
import pandas as pd
from numpy import linalg as LA

def Euler(A, t1, t2, h0, h, y0):
    n, m = A.shape
    E = np.eye(n)
    W = E + A * h
    size = int((t2 - t1) / h) + 1
    y = [[0] * m for i in range(size)]
    y[0] = y0
    for i in np.arange(1, len(y)):
        y[i] = W.dot(y[i - 1])

    k = int(h0/h)

    res1 = [y[i][0] for i in range(0, len(y), k)]
    res2 = [y[i][1] for i in range(0, len(y), k)]
    return res1, res2

def pend(y, t, b, c):
    theta, omega = y
    dydt = [-125*theta + 123.25*omega, b*theta - c*omega]
    return dydt


y0 = [1, 1]
b = 123.25
c = 123
t = np.linspace(0, 0.6, 6)
sol = odeint(pend, y0, t, args=(b, c))

y1 = [0]*len(sol)
y2 = [0]*len(sol)

for i in range(len(sol)):
    y1[i] = sol[i][0]
    y2[i] = sol[i][1]


A = np.array([[-125, 123.25], [123.25, -123]])
h, h1, h2 = 0.1, 0.05, 0.001
t1, t2 = 0, 0.5
y0 = [1, 1]
xx = [round(x, 2) for x in np.arange(0, 0.6, 0.1)]

w, v = LA.eig(A)      # собственные числа и векторы матрицы A
rho = max(abs(w))
result1_1, result1_2 = Euler(A, t1, t2,h, h1, y0)     #h=0.05
blind = [" "]*len(xx)
errs1_1 = [y1[i] - result1_1[i] for i in range(len(xx))]
errs1_2 = [y2[i] - result1_2[i] for i in range(len(xx))]
result1_1_1, result1_2_2 = Euler(A, t1, t2, h, h2, y0)       #h=0.001
errs1_1_1 = [y1[i] - result1_1_1[i] for i in range(len(xx))]
errs1_2_2 = [y2[i] - result1_2_2[i] for i in range(len(xx))]

data = [blind, result1_1, result1_2, errs1_1, errs1_2, blind, result1_1_1, result1_2_2, errs1_1_1, errs1_2_2]
indexes = [
    "h = 0.05",
    "y1",
    "y2",
    "y1* - y1",
    "y2* - y2",
    "h = 0.001",
    "y1",
    "y2",
    "y1* - y1",
    "y2* - y2"
]
table1 = pd.DataFrame(data, index = indexes, columns=xx)
table1.columns.name = "$x$"
display(table1)

$x$       0.0        0.1        0.2        0.3          0.4          0.5
h = 0.05
y1          1    1.44891    68.7529     8767.1  1.13183e+06  1.46131e+08
y2          1   0.408906   -66.4864   -8694.68 -1.12268e+06 -1.44951e+08
y1* - y1    0  -0.538254   -67.9203   -8766.34 -1.13183e+06 -1.46131e+08
y2* - y2    0   0.509164    67.3259    8695.44  1.12268e+06  1.44951e+08
h = 0.001
y1          1   0.924314    0.85785   0.796166     0.738917     0.685784
y2          1   0.931844   0.864839   0.802652     0.744936     0.691371
y1* - y1    0  -0.013662 -0.0251718 -0.0347844   -0.0427278   -0.0492057
y2* - y2    0 -0.0137733 -0.0253769 -0.0350678   -0.0430759   -0.0496065

2) Неявный метод Эйлера

In [13]:
def Rev_Euler(A, t1, t2, h0, h, y0):
    n, m = A.shape
    E = np.eye(n)
    W = E - A * h
    W = LA.inv(W)

    size = int((t2 - t1) / h) + 1
    y = [[0] * m for i in range(size)]
    y[0] = y0
    for i in np.arange(1, len(y)):
        y[i] = W.dot(y[i - 1])

    k = int(h0 / h)

    res1 = [y[i][0] for i in range(0, len(y), k)]
    res2 = [y[i][1] for i in range(0, len(y), k)]
    return res1, res2

result2_1, result2_2 = Rev_Euler(A, t1, t2, h, h1, y0)    #h=0.05
errs2_1 = [y1[i] - result2_1[i] for i in range(len(xx))]
errs2_2 = [y2[i] - result2_2[i] for i in range(len(xx))]
result2_1_1, result2_2_2 = Rev_Euler(A, t1, t2, h, h2, y0)    #h=0.001
errs2_1_1 = [y1[i] - result2_1_1[i] for i in range(len(xx))]
errs2_2_2 = [y2[i] - result2_2_2[i] for i in range(len(xx))]

data = [blind, result2_1, result2_2, errs2_1, errs2_2, blind, result2_1_1, result2_2_2, errs2_1_1, errs2_2_2]
table2 = pd.DataFrame(data, index = indexes, columns=xx)
table2.columns.name = "$x$"
display(table2)

$x$       0.0        0.1        0.2        0.3        0.4        0.5
h = 0.05
y1          1   0.925618    0.86023   0.799481   0.743022   0.690551
y2          1   0.933113   0.867238   0.805994   0.749075   0.696176
y1* - y1    0 -0.0149662 -0.0275519    -0.0381 -0.0468335 -0.0539721
y2* - y2    0 -0.0150424 -0.0277761 -0.0384104 -0.0472151 -0.0544118
h = 0.001
y1          1   0.924365   0.857946   0.796299   0.739081   0.685975
y2          1   0.931896   0.864935   0.802786   0.745102   0.691563
y1* - y1    0 -0.0137135 -0.0252673 -0.0349174 -0.0428923 -0.0493965
y2* - y2    0 -0.0138252 -0.0254731 -0.0352018 -0.0432417 -0.0497989

3) Экстраполяционный метод Адамса

In [15]:
def Adams(A, t1, t2, h0, h, y0, y1):
    n, m = A.shape
    E = np.eye(n)

    size = int((t2 - t1) / h) + 1
    y = [[0] * m for i in range(size)]
    y[0] = y0
    y[1] = y1
    for i in np.arange(2, len(y)):
        y[i] = (E + 3*h*A/2).dot(y[i-1]) - (h*A/2).dot(y[i-2])

    k = int(h0 / h)

    res1 = [y[i][0] for i in range(0, len(y), k)]
    res2 = [y[i][1] for i in range(0, len(y), k)]
    return res1, res2

Y0 = [1, 1]
Y1 = [result2_1[1], result2_2[1]]
result3_1, result3_2 = Adams(A, t1, t2, h, h1, Y0, Y1)    # шаг h=0.05
errs3_1 = [y1[i] - result3_1[i] for i in range(len(xx))]
errs3_2 = [y2[i] - result3_2[i] for i in range(len(xx))]
result3_1_1, result3_2_2 = Adams(A, t1, t2, h, h2, Y0, Y1)    #h=0.001
errs3_1_1 = [y1[i] - result3_1_1[i] for i in range(len(xx))]
errs3_2_2 = [y2[i] - result3_2_2[i] for i in range(len(xx))]

data = [blind, result3_1, result3_2, errs3_1, errs3_2, blind, result3_1_1, result3_2_2, errs3_1_1, errs3_2_2]
table3 = pd.DataFrame(data, index = indexes, columns=xx)
table3.columns.name = "$x$"
display(table3)

$x$       0.0         0.1        0.2        0.3         0.4          0.5
h = 0.05
y1          1    0.917162    8.60521    2489.66      796539  2.54922e+08
y2          1    0.875078   -6.87909   -2468.01     -790101 -2.52862e+08
y1* - y1    0 -0.00651004   -7.77253    -2488.9     -796539 -2.54922e+08
y2* - y2    0   0.0429929    7.71855    2468.77      790102  2.52862e+08
h = 0.001
y1          1    0.859729   0.797931   0.740576    0.687343     0.637937
y2          1    0.866732   0.804432   0.746609    0.692943     0.643134
y1* - y1    0   0.0509233  0.0347472  0.0208054  0.00884573  -0.00135835
y2* - y2    0   0.0513382  0.0350303  0.0209749  0.00891779  -0.00136942