# Интерполирование Эрмита с использованием разделенных разностей

In [24]:
import pandas as pd
import math as ms
import numpy as np
from sympy import symbols, S
import sympy as sym
data1 = {'x':[-2.0,0.0,1.0,2.0],'f(x)':[-4,-8,-8,-148],'df(x)':[np.nan,2,np.nan,-278],'d2f(x)':[np.nan,-16,np.nan,np.nan]}
table = pd.DataFrame(data1)
display(table)
data2 = {'x':[-2,np.nan,0,np.nan,0,np.nan,0,np.nan,1,np.nan,2,np.nan,2],'f(x)':[-4,np.nan,-8,np.nan,-8,np.nan,-8,np.nan,-8,np.nan,-148,np.nan,-148],'р.р. 1 пор.':[np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan],'р.р. 2 пор.':[np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan],'р.р. 3 пор.':[np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan],'р.р. 4 пор.':[np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan],'р.р. 5 пор.':[np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan,np.nan]}
table2 = pd.DataFrame(data2)
for i in range(1,12,2):
    if table2['x'][i-1] != table2['x'][i+1] or table.isnull()[table['x'] == table2['x'][i-1]]['df(x)'].values[0]:
        table2.loc[i,'р.р. 1 пор.'] = round((table2['f(x)'][i+1] - table2['f(x)'][i-1]) / (table2['x'][i+1] - table2['x'][i-1]),4)
    else:
        table2.loc[i,'р.р. 1 пор.'] = table[table['x'] == table2['x'][i-1]]['df(x)'].values[0]
for i in range(2,12,2):
    if table2['x'][i-2] != table2['x'][i+2] or table.isnull()[table['x'] == table2['x'][i-2]]['d2f(x)'].values[0]:
        table2.loc[i,'р.р. 2 пор.'] = (table2['р.р. 1 пор.'][i+1] - table2['р.р. 1 пор.'][i-1]) / (table2['x'][i+2] - table2['x'][i-2])
    else:
        table2.loc[i,'р.р. 2 пор.'] = (table[table['x'] == table2['x'][i-2]]['d2f(x)'].values[0])/2
for i in range(3,11,2):
        table2.loc[i,'р.р. 3 пор.'] = (table2['р.р. 2 пор.'][i+1] - table2['р.р. 2 пор.'][i-1]) / (table2['x'][i+3] - table2['x'][i-3])
for i in range(4,10,2):
        table2.loc[i,'р.р. 4 пор.'] = round((table2['р.р. 3 пор.'][i+1] - table2['р.р. 3 пор.'][i-1]) / (table2['x'][i+4] - table2['x'][i-4]),4)
for i in range(5,9,2):
        table2.loc[i,'р.р. 5 пор.'] = round((table2['р.р. 4 пор.'][i+1] - table2['р.р. 4 пор.'][i-1]) / (table2['x'][i+5] - table2['x'][i-5]),4)
for i in range(6,8,2):
        table2.loc[i,'р.р. 6 пор.'] = round((table2['р.р. 5 пор.'][i+1] - table2['р.р. 5 пор.'][i-1]) / (table2['x'][i+6] - table2['x'][i-6]),4)
display(table2)
#Составляем по таблице интерполяционный многочлен
x = symbols('x')
P6 = table2['f(x)'][0] + table2['р.р. 1 пор.'][1]*(x+S(2)) + table2['р.р. 2 пор.'][2]*(x+S(2))*x + table2['р.р. 3 пор.'][3]*(x+S(2))*x*x + table2['р.р. 4 пор.'][4]*(x+S(2))*x*x*x + table2['р.р. 5 пор.'][5]*(x+S(2))*x*x*x*(x-S(1)) + table2['р.р. 6 пор.'][6]*(x+S(2))*x*x*x*(x-S(1))*(x-S(2))
print('2 Интерполяционный многочлен в форме Ньютона:')
display(P6)
#Делаем проверку,вычисляя производные
data3 = {'x':[-2.0,0.0,1.0,2.0],'f(x)':[np.nan,np.nan,np.nan,np.nan],'df(x)':[np.nan,np.nan,np.nan,np.nan],'d2f(x)':[np.nan,np.nan,np.nan,np.nan]}
table3 = pd.DataFrame(data3)
f = P6
f1 = sym.diff(P6,x)
f2 = sym.diff(f1,x)
for i in range(4):
    table3.loc[i,'f(x)'] = round((f).subs(x,table3['x'][i]),1)
    table3.loc[1,'df(x)'] = round((f1).subs(x,table3['x'][1]),1)
    table3.loc[3,'df(x)'] = round((f1).subs(x,table3['x'][3]),1)
    table3.loc[1,'d2f(x)'] = round((f2).subs(x,table3['x'][1]),1)
    
display(table3)

     x  f(x)  df(x)  d2f(x)
0 -2.0    -4    NaN     NaN
1  0.0    -8    2.0   -16.0
2  1.0    -8    NaN     NaN
3  2.0  -148 -278.0     NaN

,x,f(x),р.р. 1 пор.,р.р. 2 пор.,р.р. 3 пор.,р.р. 4 пор.,р.р. 5 пор.,р.р. 6 пор.
0,-2.0,-4.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,-2.0,NaN,NaN,NaN,NaN,NaN
2,0.0,-8.0,NaN,2.0,NaN,NaN,NaN,NaN
3,NaN,NaN,2.0,NaN,-5.0,NaN,NaN,NaN
4,0.0,-8.0,NaN,-8.0,NaN,3.6667,NaN,NaN
5,NaN,NaN,2.0,NaN,6.0,NaN,-5.9167,NaN
6,0.0,-8.0,NaN,-2.0,NaN,-20.0000,NaN,3.9792
7,NaN,NaN,0.0,NaN,-34.0,NaN,10.0000,NaN
8,1.0,-8.0,NaN,-70.0,NaN,0.0000,NaN,NaN
9,NaN,NaN,-140.0,NaN,-34.0,NaN,NaN,NaN
10,2.0,-148.0,NaN,-138.0,NaN,NaN,NaN,NaN
11,NaN,NaN,-278.0,NaN,NaN,NaN,NaN,NaN
12,2.0,-148.0,NaN,NaN,NaN,NaN,NaN,NaN

2 Интерполяционный многочлен в форме Ньютона:

x**3*(-5.9167*x - 11.8334)*(x - 1) + x**3*(x - 2)*(x - 1)*(3.9792*x + 7.9584) + x**3*(3.6667*x + 7.3334) + x**2*(-5.0*x - 10.0) + x*(2.0*x + 4.0) - 2.0*x - 8.0

     x               f(x)              df(x)             d2f(x)
0 -2.0  -4.00000000000000                NaN                NaN
1  0.0  -8.00000000000000   2.00000000000000  -16.0000000000000
2  1.0  -8.00000000000000                NaN                NaN
3  2.0  -148.000000000000  -278.000000000000                NaN